@import url('./main-layout.css');
@import url('./views/wirbrauchendeine-hilfe-view.css');
@import url('./views/lerneetwasueber-deepfakes-view.css');
@import url('./views/testedein-wissen-view.css');
@import url('./views/erkennedie-deepfakes-view.css');
@import url('./views/ueberfuehreden-boesewicht-view.css');
@import url('./views/dankeschoen-view.css');
@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

vaadin-button{
    color:#233348 ;
    background-color:#04B486;
    align-self: center;
    width: 100%;
    margin: var(--lumo-space-m);
}

vaadin-checkbox{
    background-color:#8EB1C7;
    color: #233348;
    margin: var(--lumo-space-s);
}
h1{
    color:white;
}
h2{
    margin-top: 10px;
    color:#24b45c;
    align-self: center;
}
h5{
    color:#24b45c;
    align-self: center;
}
h3{
    color:#8EB1C7;
    align-self: center;
}
vaadin-horizontal-layout{
    align-self: center;
    background-color:#233348;

}

vaadin-checkbox{
    color:#8292a8;
    background-color:#04B486;
}
vaadin-vertical-layout{
    padding-top: 0px;
    background-color:#233348;
}

.click{
    cursor: pointer;
}